* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
#topo {
    background-color: blue;
    color: red;
    text-align: center;
}

#logo {
    background-color: black;
    background-image: url(../images/html.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}



/*NAV*/
#menu {
    background-color: violet;
    text-align: left;
    color: black;
}



/*MAIN*/
.destaque, .produtos, .sobre , .contato {
    background-color: yellow;
    text-align: center;
    color: black;
}

p {
    font-weight: 900;
    font-size: 100%;
    color: azure;
    text-align: center;
    text-transform: capitalize;
}



/*FOOTER*/
#rodape {
    background-color: red;
    text-align: left;
    text-decoration: none;

    
}
a:visited{
    color: white;
}

a:hover {
    background-color: black;
    color: yellow;
    font-size: 30px;
    margin: 5px;
    border: solid 2px white;
}

#topo:hover {
}





